# Ignore the SQLite database file
db.sqlite3
# Ignore the .env file which may contain sensitive information
.env
# Ignore the __pycache__ directory which contains compiled Python files
store/__pycache__/*
CarStore/__pycache__/*
# Ignore the migrations directory which contains database migration files
store/migrations/
# Ignore the staticfiles directory which contains collected static files
staticfiles/
# Ignore the media directory which may contain user-uploaded files
media/
# Ignore the .vscode directory which contains Visual Studio Code settings
.vscode/
# Ignore Pipfile and Pipfile.lock which are used for dependency management
Pipfile
Pipfile.lock
store/middleware.py