annotated-types
anyio
asgiref
attrs
certifi
charset-normalizer
distro
dj-database-url
Django
django-cors-headers
django-stubs
django-stubs-ext
djangorestframework
djangorestframework-stubs
djangorestframework_simplejwt
docopt
drf-spectacular
gunicorn
h11
httpcore
httpx
idna
inflection
jsonschema
jsonschema-specifications
num2words
opencode-ai
packaging
pillow
psycopg2-binary
pydantic
pydantic_core
PyJWT
pypdf
PyYAML
referencing
reportlab
rpds-py
sniffio
sqlparse
types-PyYAML
typing-inspection
typing_extensions
tzdata
uritemplate
python-dotenv


